html,body{height: 100%;width: 100%;margin:0;padding:0;}
body{
  background:url(../images/bg.jpg) no-repeat;
  width:100%;
  height:100%;
  background-size:100% 100%;
  position:absolute;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.jpg',sizingMethod='scale');
}
